dash==2.13.0
dash-bootstrap-components~=1.5
dash-core-components~=2.0
openai~=0.28
coverage~=7.3
dash-iconify~=0.1
dash-mantine-components~=0.12
langchain==0.0.352
markdownify~=0.11
mypy~=1.5
numpy~=1.26
pandas~=2.1
pytest~=7.4
pytest-cov~=4.1
python-dotenv~=1.0
tiktoken~=0.5
gunicorn~=21.2
waitress~=2.1
chromadb==0.4.21
pysqlite3-binary~=0.5
-e .